body {
    background: url(https://www.collinsdictionary.com/images/full/americanfootball_345202907_1000.jpg);
    background-attachment: fixed;
}

 h1 {
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: white;
        text-align: center;
        font-size: 50px;
    }
    p {
        font-family: sans-serif;
        color: white;
        font-size: 24px;
        background-image: linear-gradient(to right, cyan, yellow);
    }

    iframe {
        display: block;
        margin: auto;
        margin-bottom: 40px;
        box-shadow: 10px 10px 5px 0 red;
    }
